<mat-card>
    <mat-toolbar>
        <div id="head">
            <h1><b>TAGS</b></h1>
            <button mat-button mat-flat-button (click)="back()">
                <mat-icon>arrow_back</mat-icon>
                RETURN
            </button>
        </div>
    </mat-toolbar>
    <mat-card-content>
        <div id="tags">
            <mat-form-field>
                <mat-label>Full Tag</mat-label>
                <textarea
                    matInput
                    rows="34"
                    [value]="fulltag ? fulltag : ''"
                    [disabled]="!fulltag"
                >
                </textarea>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Passback Tag</mat-label>
                <textarea
                    matInput
                    rows="34"
                    [value]="passbacktag ? passbacktag : ''"
                    [disabled]="!passbacktag"
                >
                </textarea>
            </mat-form-field>
        </div>
    </mat-card-content>
    <mat-card-footer>
        <mat-progress-bar
            mode="indeterminate"
            *ngIf="!ready"
        >
        </mat-progress-bar>
        <mat-toolbar
            *ngIf="success && success.length > 0"
            class="success"
        >
            <mat-icon>done</mat-icon>
            {{success}}
        </mat-toolbar>
        <mat-toolbar
            *ngIf="error && error.length > 0"
            class="error"
        >
            <mat-icon>error</mat-icon>
            {{error}}
        </mat-toolbar>
    </mat-card-footer>
</mat-card>
