@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

$add: #1976d2;
$cancel: #e53935;
$save: #43a047;
$reset: #fb8c00;
$fullWidth: 100%;
$font: 'Roboto', sans-serif;

mat-card {
    max-width: 960px;
}

h1, h2, h3 {
    display: inline-block;
}

#head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: $fullWidth;
}

.mat-flat-button {
    background-color: $add;
    color: #ffffff;
    font-weight: 500;
    padding: 0 16px;
    border-radius: 2px;
    font-size: 16px;
    width: 120px;
    font-family: 'Roboto', sans-serif;
    height: 36px;

    ::selection {
        background-color: #b3d4fc;
        color: #000;
        text-shadow: none;
    }
}

#tags {
    display: flex;
    justify-content: space-around;
}

mat-icon {
    font-size: 22px;
}

mat-form-field {
    width: 500px;
}

textarea {
    width: $fullWidth;
    resize: none;
    box-sizing: border-box;
    font-size: 16px;
    font-family: $font;
}

.success {
    background-color: #43a047;
    color: #fff;
}

.error {
    background-color: #e53935;
    color: #fff;
}
