<h2 mat-dialog-title>Edit User Name</h2>
<mat-dialog-content class="mat-typography">
    <mat-form-field>
        <input
            matInput
            [value]="data.username"
            [(ngModel)]="data.username"
        >
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="data.username">Save</button>
</mat-dialog-actions>
