<mat-card>
    <mat-card-header>
        <mat-card-title>
            <h3>{{title}}</h3>
        </mat-card-title>
        <mat-form-field class="user-search-field">
            <input
                (keyup)="currentRoute === 'users'
                ? searchUser($event)
                : searchConfig($event)"
                matInput
                placeholder="Search"
                value=""
            >
        </mat-form-field>
        <a mat-flat-button class="add"
           [routerLink]="'new'">
            {{linkTitle}}
            <mat-icon>add_box</mat-icon>
        </a>
    </mat-card-header>
    <mat-card-content>
        <mat-spinner
            *ngIf="loading"
            [diameter]="300"
        ></mat-spinner>
        <ngx-datatable
            *ngIf="usersReady"
            [columnMode]="'flex'"
            [footerHeight]="50"
            [headerHeight]="50"
            [scrollbarH]="false"
            [limit]="10"
            [rowHeight]="'auto'"
            [rows]="users"
            [sorts]="[{prop: 'id', dir: 'asc'}]"
            class="material users-list"
        >
            <ngx-datatable-column sortable="true" prop="id" name="ID" [flexGrow]="2">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.id }}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column sortable="true" prop="name" name="Name" [flexGrow]="3">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.name }}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column sortable="true" prop="configs" name="Configs" [flexGrow]="2">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <a [routerLink]="['../' + 'configs/']" class="configs-link"
                       matTooltip="Open configs"
                       matTooltipPosition="below"
                       [queryParams]="{id: row.id}"
                    > {{ row.configs }}</a>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Actions" [flexGrow]="2">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <div class="edit-icons-block">
                        <mat-icon
                            matTooltip="Edit publisher's name"
                            matTooltipPosition="below"
                            (click)="editUsername(row)"
                        >edit
                        </mat-icon>
                        <mat-icon
                            matTooltip="Delete publisher and all configs"
                            matTooltipPosition="below"
                            (click)="deleteUsername(row)"
                        >delete
                        </mat-icon>
                    </div>
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
        <ngx-datatable
            *ngIf="configsReady"
            [columnMode]="'flex'"
            [footerHeight]="50"
            [headerHeight]="50"
            [limit]="10"
            [rowHeight]="'auto'"
            [rows]="configs"
            [sorts]="[{prop: 'id', dir: 'asc'}]"
            [scrollbarH]="false"
            class="material configs-list"
        >
            <ngx-datatable-column sortable="true" prop="id" name="ID" [flexGrow]="1.5">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.id }}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column sortable="true" prop="name" name="Name" [flexGrow]="3">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.name }}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column sortable="true" prop="sizes" name="Sizes" [flexGrow]="2">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.sizes }}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="type" name="Type" [flexGrow]="1.5">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.type }}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="adapters" name="Adapters" [flexGrow]="5.5">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <mat-chip-list style="justify-content: center">
                        <mat-chip
                            *ngFor="let adapter of row.adapters"
                            color="primary"
                            selected
                        >
                            {{adapter}}
                        </mat-chip>
                    </mat-chip-list>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="addons" name="Add-ons" [flexGrow]="1.5">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <div class="add-ons-block">
                        <mat-icon *ngIf="row.cmp == 'true'">
                            visibility_off
                        </mat-icon>
                        <fa-icon
                            *ngIf="row.amazon == 'true'"
                            [icon]="faAmazon" size="lg">
                        </fa-icon>
                    </div>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Actions" [flexGrow]="3">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <div class="actions-icons-block">
                        <a [routerLink]="'edit'"
                           [queryParams]="{id: row.id}"
                        >
                            <mat-icon
                                matTooltip="Edit config"
                                matTooltipPosition="below"
                            >edit
                            </mat-icon>
                        </a>
                        <mat-icon
                            matTooltip="Delete config"
                            matTooltipPosition="below"
                            (click)="deleteConfig(row)"
                        >delete
                        </mat-icon>
                        <mat-icon
                            (click)="showCode(row)"
                            matTooltip="Show codes"
                            matTooltipPosition="below"
                        >code
                        </mat-icon>
                        <mat-icon>
                            expand_more
                        </mat-icon>
                    </div>
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </mat-card-content>
</mat-card>
