$add: #1976d2;
$cancel: #e53935;
$save: #43a047;
$reset: #fb8c00;
$fullWidth: 100%;

ngx-datatable {
    font-family: 'Roboto', sans-serif;
    align-items: center;
}

a {
    text-decoration: none;
}

div.mat-chip-list-wrapper {
    justify-content: center;
}

.mat-chip.mat-standard-chip, .mat-chip-selected {
    background-color: $add !important;
    color: #fff;
    font-size: 12px;
}

mat-chip {
    padding: 4px 12px;
}

.user-search-field {
    max-width: 600px;
    width: 60%;
}

mat-card {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

mat-card-header, mat-card-content {
    max-width: 1200px;
    width: 85%;
}

mat-card-header {
    align-items: center;
    justify-content: space-between;
}

a.configs-link {
    color: $add;
}

button, a.mat-flat-button {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 500;
    margin: 0 0 0 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    height: 36px;

    &.add {
        background-color: $add;
        border-color: $add;
    }

}

mat-icon, fa-icon {
    margin: 0 2px;
    display: inline-block;
}

.material-icons {
    font-size: 20px;
}

.add-ons-block,
.edit-icons-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-ons-block > mat-icon,
.add-ons-block > fa-icon,
.edit-icons-block > mat-icon,
.actions-icons-block > mat-icon {
    color: rgba(0, 0, 0, 0.54);
    &:hover {
        color: rgba(0, 0, 0, 0.95);
    }
}

a > mat-icon {
    color: rgba(0, 0, 0, 0.54);
    &:hover {
        color: rgba(0, 0, 0, 0.95);
    }
}

.edit-icons-block > mat-icon,
.actions-icons-block > mat-icon {
        cursor: pointer;
}

mat-spinner {
    top: 50%;
    left: 30%;
}
