<h2 mat-dialog-title >TAGS</h2>
<mat-dialog-content class="mat-typography">
    <mat-form-field class="show-tags-dialog">
        <textarea
            matInput
            [value]="data.fulltag"
            [(ngModel)]="data.fulltag"
            readonly
            placeholder="Full Tag"
            (click)="copyTag($event)"
        >
        </textarea>
    </mat-form-field>
    <mat-form-field class="show-tags-dialog">
        <textarea
            matInput
            [value]="data.passbackTag"
            [(ngModel)]="data.passbackTag"
            readonly
            placeholder="Passback Tag"
            (click)="copyTag($event)"
        >
        </textarea>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
