#console-wrapper {
    background:rgba(0, 0, 0, 0.8);
    font-family: 'Roboto', sans-serif;
    align-items: center;
    display: flex;
    justify-content: left;
    color: white;
    height: auto;
    min-height: 28px;
    width: 100%;
    font-size: 14px;
    white-space: pre;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    padding: 0 0 0 5px;
}

p {
    display: inline-block;
    margin-bottom: 0;
    margin-top: 0;
}

