<h2 mat-dialog-title>Update {{data.adapter.name}} settings</h2>
<mat-dialog-content class="mat-typography">
    <form action="" id="form" #form>
    <div *ngFor="let set of data.adapter.settings">
        <mat-form-field class="adapter-settings-form">
            <input
                matInput
                [value]="set[1].data"
                [(ngModel)]="set[1].data"
                [placeholder]="set[0]"
                [title]="set[1].type"
                [name]="set[0]"
            >
        </mat-form-field>
    </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="form">Save</button>
</mat-dialog-actions>
