<div id="container">
    <mat-card class="add-user-card">
        <mat-card-header>
            <h1>
                {{currentRoute.includes('users')
                ? 'Add New User and Configuration'
                : 'Add New Configuration'}}
            </h1>
        </mat-card-header>
        <mat-card-content>
            <div [formGroup]="form">
                <div class="input-row">
                    <mat-form-field class="one-third">
                        <input
                            matInput required #name
                            placeholder="Publisher Name"
                            formControlName="name"
                            class="disabled"
                            disabled
                        />
                        <mat-hint align="end">
                            {{name.value.length}} / 35
                        </mat-hint>
                    </mat-form-field>
                    <mat-form-field class="one-third">
                        <input
                            matInput required #configname
                            placeholder="Config Name"
                            formControlName="configname"
                        />
                        <mat-hint align="end">
                            {{configname.value.length}} / 35
                        </mat-hint>
                    </mat-form-field>
                    <mat-form-field class="one-third">
                        <input
                            matInput required #domain
                            placeholder="Site Domain"
                            formControlName="domain"
                        />
                        <mat-hint align="end">
                            {{domain.value.length}} / 35
                        </mat-hint>
                    </mat-form-field>
                </div>
                <div class="input-row">
                    <mat-form-field class="full-width">
                        <mat-label>Sizes</mat-label>
                        <mat-select required type="text"
                                    formControlName="sizes">
                            <mat-option
                                *ngFor="let size of allowedSizes"
                                [value]="size"
                            >
                                {{size}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <app-combobox-component
                    (changeAdaptersList)="changeAdaptersList($event)"
                    [toAll]="toAllState"
                >
                </app-combobox-component>
                <mat-divider></mat-divider>
                <section class="sliders">
                    <mat-slide-toggle formControlName="amazon">
                        Amazon
                    </mat-slide-toggle>
                    <mat-slide-toggle formControlName="cmp">
                        CMP
                    </mat-slide-toggle>
                    <mat-slide-toggle
                        formControlName="allowAuctionWithoutConsent"
                        *ngIf="form.get('cmp').value"
                    >
                        Without Consent
                    </mat-slide-toggle>
                    <mat-form-field
                        class="one-third"
                        *ngIf="form.get('cmp').value"
                    >
                        <input matInput type="number"
                               placeholder="CMP Timeout"
                               formControlName="cmpTimeout"/>
                    </mat-form-field>
                </section>
                <div class="input-row">
                    <mat-form-field class="one-third">
                        <input matInput required
                               placeholder="prebid timeout"
                               formControlName="PREBID_TIMEOUT"/>
                    </mat-form-field>
                    <mat-form-field class="one-third">
                        <input matInput required type="number" #floorPrice
                               placeholder="Floor price"
                               (input)="toggleToAll(toAll.checked, floorPrice.value)"
                               formControlName="floorPrice"/>
                    </mat-form-field>
                    <mat-checkbox
                        formControlName="toAll"
                        class="one-third" #toAll
                        (change)="toggleToAll(toAll.checked, floorPrice.value)"
                    >
                        Apply to all adapters
                    </mat-checkbox>
                </div>
                <mat-form-field class="full-width">
                    <mat-label>Passback HTML Tag</mat-label>
                    <textarea
                        matInput formControlName="passbacktag"
                        cdkTextareaAutosize required
                        #autosize="cdkTextareaAutosize"
                        cdkAutosizeMinRows="4"
                        cdkAutosizeMaxRows="10"
                    ></textarea>
                </mat-form-field>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <div>
                <button mat-flat-button class="cancel" (click)="goBack()"
                >
                    Cancel
                </button>
                <!--                <button mat-flat-button class="reset" (click)="reset()">reset</button>-->
                <button mat-flat-button class="save" (click)="currentRoute.includes('users')
            ? addUser()
            : addConfig()"
                        [matTooltip]="!form.valid ? 'Fill all required fields!' : ''"
                        matTooltipPosition="below"
                        [disabled]="!form.valid"
                >
                    Save
                </button>
            </div>
        </mat-card-actions>
    </mat-card>
</div>
