<mat-form-field class="example-chip-list">
    <mat-chip-list #chipList aria-label="Adapter selection">
        <mat-chip
            *ngFor="let adapter of adapters"
            [selectable]="selectable"
            [removable]="removable"
            (removed)="remove(adapter)">
            {{adapter}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input
            placeholder="Select adapters..."
            #adapterInput
            matInput
            [formControl]="adapterCtrl"
            [matAutocomplete]="auto"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event)"
            (click)="openPanel($event)"
        >
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let adapter of filteredAdapters | async" [value]="adapter">
            {{adapter}}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>
<div id="adapter-settings" *ngIf="settings && settings.length > 0">
    <div *ngFor="let set of settings" [className]="'adapter-settings-block'">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
        <mat-panel-title [id]="set.code"><h2>{{set.name}}</h2></mat-panel-title>
            </mat-expansion-panel-header>
        <div class="adapter-settings-main" *ngFor="let option of set.options">
            <mat-form-field>
                <input matInput
                       [placeholder]="option.option"
                       [required]="option.required"
                       [type]="['number', 'integer', 'int', 'float'].includes(option.type)
                                           ? 'number' : 'text'"
                />
            </mat-form-field>
            <div class="adapter-settings-details-container">
                <div class="adapter-settings-details first-row">
                    <b>Description: </b><span>{{option.description}}</span><br>
                    <b>Example: </b><span>{{option.example}}</span>
                </div>
                <div class="adapter-settings-details second-row">
                    <b>Type: </b><span>{{option.type}}</span><br>
                    <b>Required: </b><span>{{option.required}}</span><br>
                </div>
            </div>
        </div>
        <div class="adapter-settings-main">
            <mat-form-field>
                <input matInput
                       placeholder="floorPrice"
                       [required]="false"
                       class="floor-price"
                       [value]="toAllToggle ? floorPriceValue : ''"
                       [readonly]="toAllToggle"
                />
            </mat-form-field>
            <div class="adapter-settings-details-container">
                <div class="adapter-settings-details first-row">
                    <b>Description: </b><span>Floor price for {{set.name}} </span><br>
                    <b>Example: </b><span>0.25</span>
                </div>
                <div class="adapter-settings-details second-row">
                    <b>Type: </b><span>float</span><br>
                    <b>Required: </b><span>false</span><br>
                </div>
            </div>
        </div>
        </mat-expansion-panel>
    </div>
</div>
