.example-chip-list {
    width: 100%;
}

$add: #1976d2;
$cancel: #e53935;
$save: #43a047;
$reset: #fb8c00;
$fullWidth: 100%;

.add-user-card {
    max-width: 640px;
}

.full-width {
    width: $fullWidth;
}

.input-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.one-third {
    width: 30%;
}

.one-half {
    width: 45%;
}

mat-checkbox.one-third {
    display: flex;
    align-items: center;
}

button {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 500;
    width: 80px;
    margin: 0 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    height: 36px;
    min-width: 88px;

    &.save {
        background-color: $save;
        border-color: $save;
    }

    &.reset {
        background-color: $reset;
        border-color: $reset;
    }

    &.cancel {
        background-color: $cancel;
        border-color: $cancel;
    }

}

mat-card-actions {
    display: flex;
    justify-content: flex-end;
}

.sliders {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 60px;
}

mat-slide-toggle {
    margin: 0 20px 0 0;
}

.adapter-settings-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.adapter-settings-main {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.adapter-settings-main > mat-form-field {
    margin: 0 20px 0 0;
}

.adapter-settings-details-container {
    display: flex;
    align-items: center;
    width: 400px;
    justify-content: space-between;
}

.adapter-settings-details {
    &.first-row {
        width: 75%
    }

    &.second-row {
        width: 25%
    }
}

#adapter-settings {
    font-family: Roboto,"Helvetica Neue",sans-serif;
    width: 100%;
}



